<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantTPPA</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }
        h1 {
            text-align: center;
            margin-top: 2rem;
            color: #2c3e50;
        }
        #queryForm {
            text-align: center;
            margin: 2rem;
        }
        #queryForm input[type="text"] {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0.5rem;
            width: 20rem;
            max-width: 80%;
        }
        #queryForm input[type="submit"] {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            background-color: #27ae60;
            color: white;
            cursor: pointer;
            margin-left: 1rem;
            transition: background-color 0.3s;
        }
        #queryForm input[type="submit"]:hover {
            background-color: #2ecc71;
        }
        #main {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: 4px;
            background: #fff;
            padding: 1rem;
            margin: 2rem auto;
            width: 80vw;
            height: 60vh;
            max-width: 1000px;
            max-height: 600px;
            min-width: 300px;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <h1>PlantTPA 数据展示</h1>
    <form id="queryForm">
        <label for="proteinID">输入 ProteinID：</label>
        <input type="text" id="proteinID" name="proteinID">
        <input type="submit" value="查询">
    </form>
    <div id="main"></div>
    <script>
        var speciesColors = {
            'At': '#1f77b4',
            'Ch': '#ff7f0e',
            'Os': '#2ca02c',
            'Sl': '#d62728',
            'Zm': '#9467bd',
        };

        var currentProteinID = null; // 用于存储当前搜索的 ProteinID

        var useDataZoom = true; // 初始默认使用 dataZoom

        document.getElementById('queryForm').addEventListener('submit', function(e) {
            e.preventDefault();
            currentProteinID = document.getElementById('proteinID').value;
            useDataZoom = !currentProteinID; // 如果有 proteinID，则不使用 dataZoom
            fetchData(currentProteinID);
        });

        function fetchData(proteinID) {
            var url = '/data' + (proteinID ? '?proteinID=' + encodeURIComponent(proteinID) : '');
            fetch(url).then(response => response.json()).then(data => {
                data.sort((a, b) => a.speciesName.localeCompare(b.speciesName));
                renderChart(data, useDataZoom);
            });
        }

        function renderChart(data, useDataZoom) {
            var chartDom = document.getElementById('main');
            var myChart = echarts.init(chartDom);

            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { type: 'shadow' },
                    formatter: function (params) {
                        var tooltipText = '';
                        params.forEach(function (item) {
                            if (item.seriesName === 'bar') {
                                tooltipText += 'Protein ID: ' + item.name + '<br/>';
                                var proteinNames = item.data.proteinNames.length > 50 ? item.data.proteinNames.substring(0, 50) + '...' : item.data.proteinNames;
                                tooltipText += 'Protein Names: ' + proteinNames + '<br/>';
                                tooltipText += 'Average: ' + item.data.value.toFixed(5) + '<br/>';
                                // Assuming error is provided in item.data.error
                                tooltipText += 'Std Dev: ' + item.data.error.toFixed(5) + '<br/>';
                                tooltipText += 'Species: ' + item.data.species + '<br/>';
                                tooltipText += 'HOG: ' + item.data.hog + '<br/>';  // 确保item.data.HOG正确反映了后端发送的HOG值
                            }
                        });
                        return tooltipText;
                    }
                },
                title: {
                    text: 'Error Bar Chart'
                },
                legend: {
                    data: ['bar'],
                    align: 'right',
                    right: 10
                },
                grid: {
                    left: '10%',
                    right: '10%',
                    bottom: '15%',
                    containLabel: true
                },
                dataZoom: useDataZoom ? [
                    {
                        type: 'slider',
                        start: 0,
                        end: 0.05,
                        bottom: 30  // Position dataZoom closer to x-axis
                    },
                    {
                        type: 'inside',
                        start: 0,
                        end: 100
                    }
                ] : [
                    {
                        type: 'slider',
                        start: 0,
                        end: 100,
                        bottom: 30  // Position dataZoom closer to x-axis
                    },
                    {
                        type: 'inside',
                        start: 0,
                        end: 100
                    }
                ],
                xAxis: {
                    type: 'category',
                    data: data.map(item => item.proteinID)
                },
                yAxis: {
                    min: "0",
                    type: 'value',
                    scale: true  // Scale axis according to the data
                },
                series: [
                    {
                        name: 'bar',
                        type: 'bar',
                        data: data.map(item => ({
                            value: item.average,
                            proteinNames: item.ProteinNames,
                            error: item.error,
                            species: item.speciesName,
                            hog: item.HOG,
                            // 直接为当前查询的蛋白质设置特殊样式
                            itemStyle: {
                                color: speciesColors[item.speciesName] || '#7f7f7f',
                                borderColor: item.proteinID === currentProteinID ? '#FFD700' : '',
                                borderWidth: item.proteinID === currentProteinID ? 3 : 0,
                                shadowBlur: item.proteinID === currentProteinID ? 10 : 0,
                                shadowColor: item.proteinID === currentProteinID ? '#FFD700' : '',
                            }
                        })),
                        z: "2"
                    },
                    {
                        name: 'error',
                        type: 'custom',
                        renderItem: function(params, api) {
                            var xValue = params.dataIndex;
                            var highPoint = api.coord([xValue, api.value(2)]);
                            var lowPoint = api.coord([xValue, api.value(1)]);
                            var speciesName = data[xValue].speciesName;
                            var barWidth = api.size([1, 0])[0] * 0.1;
                            return {
                                type: 'group',
                                children: [{
                                    type: 'line',
                                    shape: {
                                        x1: highPoint[0] - barWidth, y1: highPoint[1],
                                        x2: highPoint[0] + barWidth, y2: highPoint[1]
                                    },
                                    style: {
                                        stroke: speciesColors[speciesName] || 'black',
                                        lineWidth: 2
                                    }
                                }, {
                                    type: 'line',
                                    shape: {
                                        x1: highPoint[0], y1: highPoint[1],
                                        x2: lowPoint[0], y2: lowPoint[1]
                                    },
                                    style: {
                                        stroke: speciesColors[speciesName] || 'black',
                                        lineWidth: 2
                                    }
                                }, {
                                    type: 'line',
                                    shape: {
                                        x1: lowPoint[0] - barWidth, y1: lowPoint[1],
                                        x2: lowPoint[0] + barWidth, y2: lowPoint[1]
                                    },
                                    style: {
                                        stroke: speciesColors[speciesName] || 'black',
                                        lineWidth: 2
                                    }
                                }]
                            };
                        },
                        data: data.map(item => [item.proteinID, item.average - item.error, item.average + item.error]),
                        z: 3
                    }
                ]
            };

            myChart.setOption(option);
            window.onresize = myChart.resize;

            // 添加点击事件监听器
            myChart.on('click', function(params) {
                // 确保点击的是数据点（即bar系列）
                if (params.seriesName === 'bar') {
                    // 构造目标URL，使用点击的数据点的proteinID
                    var targetUrl = 'https://www.uniprot.org/uniprotkb/' + params.name; // params.name应该包含proteinID
                    // 在新标签页中打开URL
                    window.open(targetUrl, '_blank');
                }
            });

        }

        fetchData(); // Initial load without proteinID to display all data
    </script>
</body>
</html>
